<%= form_with(model: [@topic,@post,comment]) do |form| %>

      <div class="invalid-feedback d-block">
        <% if comment.errors.any? %>
          <% comment.errors.full_messages.each do |message| %>
            <%= message %><br/>
          <% end %>
        <% end %>
      </div>


      <div class="form-group">
        <form.label for="comment">Coment</form.label>
        <%= form.text_field :comment, class: "form-control", placeholder: "Enter Comment" %>
      </div>

      <button type="submit" class="btn btn-success">Update Comment</button>
  <br/><br/><%= link_to 'Back', topic_post_path(@topic,@post), class: 'btn btn-secondary' %>
<% end %>