<% if @comment.user_comment_ratings.count > 0 %>
<br/>
<table class="table table-bordered">
  <thead align="center">
  <tr>
    <th>User</th>
    <th>Ratings</th>
  </tr>
  </thead>
  <tbody align="center">
  <% @comment.user_comment_ratings.each do |comment| %>
    <tr>
      <td><%= comment.user.email %></td>
      <td><%= comment.rating %><br/></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<br/><%= link_to 'Back', topic_post_path(@topic,@post), class: 'btn btn-secondary' %>