<h1>Topics</h1>

<table class="table table-bordered">
  <thead>
    <tr align="center">
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr align="center">
        <td><%= link_to topic.name, topic_posts_path(topic) %></td>
        <td><%= topic.price %></td>
        <td><%= link_to 'Show', topic, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic),class: 'btn btn-primary' %></td>
        <td><%= link_to 'Delete', topic, :data => {confirm: 'Are you sure?'}, :method => :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path, class: 'btn btn-success' %>
