<h1>New Topic</h1>

<%= form_for @topic do |topic| %>
  <div>
    <form class="form">

      <div class="form-group">
        <topic.label for="name">Name</topic.label>
        <%= topic.text_field :name, class: "form-control", placeholder: 'Enter Topic Name' %>
      </div>

      <% if @topic.errors.include?(:name) %>
        <div class="invalid-feedback d-block">
          <% @topic.errors.full_messages_for(:name).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <topic.label for="price">Price</topic.label>
        <%= topic.text_field :price, class: "form-control", placeholder: 'Enter Topic Price' %>
      </div>

      <% if @topic.errors.include?(:price) %>
        <div class="invalid-feedback d-block">
          <% @topic.errors.full_messages_for(:price).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>

      <button type="submit" class="btn btn-success">Add Topic</button>

    </form>
  </div>
<% end %>
<br/><%= link_to 'Back', topics_path, class: 'btn btn-secondary' %>