<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="container-fluid">
    <form class="form">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <f.label for="email">Email</f.label><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
      </div>
    </form>
  </div>
<% end %>

<%= render "devise/shared/links" %>
