<% link = pagy_link_proc(pagy, 'class="page-link"') %>
<nav aria-label="pager"  class="pagy-bootstrap-nav" role="navigation">
  <ul class="pagination">
    <% if pagy.prev %>
      <li class="page-item prev"><%== link.call(pagy.prev, pagy_t('pagy.nav.prev'), 'aria-label="previous"') %></li>
    <% else %>
      <li class="page-item prev disabled"><a href="#" class="page-link"><%== pagy_t('pagy.nav.prev') %></a></li>
    <% end -%>
    <% pagy.series.each do |item| %>
      <%# series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] %>
      <% if item.is_a?(Integer) %>
        <li class="page-item"><%== link.call(item) %></li>
      <% elsif item.is_a?(String) %>
        <li class="page-item active"><%== link.call(item) %></li>
      <% elsif item == :gap %>
        <li class="page-item disabled gap"><a href="#" class="page-link"><%== '<i class="fas fa-ellipsis-h"></i>' %></a></li>
      <% end %>
    <% end %>
    <% if pagy.next %>
      <li class="page-item next"><%== link.call(pagy.next, pagy_t('pagy.nav.next'), 'aria-label="next"') %></li>
    <% else %>
      <li class="page-item next disabled"><a href="#" class="page-link"><%== pagy_t('pagy.nav.next') %></a></li>
    <% end %>
  </ul>
</nav>