<h1>Ratings</h1>
<p>The following are the ratings for this post</p>
<p>
  <% rating = @post.ratings.group('rating').having(rating: [ 5, 4, 3, 2, 1 ]).count %>
  5 stars: <%= rating[5]? rating[5] : '0' %><br/>
  4 stars: <%= rating[4]? rating[4] : '0' %><br/>
  3 stars: <%= rating[3]? rating[3] : '0' %><br/>
  2 stars: <%= rating[2]? rating[2] : '0' %><br/>
  1 star: <%= rating[1]? rating[1] : '0' %>
</p>
<br/>