<%= form_with(model: [@topic,@post,@post.ratings.build]) do |rating| %>
  <div class="form-group">
    <%= rating.radio_button :rating, 5 %> 5 stars<br/>
    <%= rating.radio_button :rating, 4 %> 4 stars<br/>
    <%= rating.radio_button :rating, 3 %> 3 stars<br/>
    <%= rating.radio_button :rating, 2 %> 2 stars<br/>
    <%= rating.radio_button :rating, 1 %> 1 star
  </div>
  <%= rating.submit 'Add rating',class: 'btn btn-success' %>
<% end %>