<div class="error-explanation">
  <h2>
    <%= pluralize(@post.errors.count,"errors") %>prohibitetd this <%= @post.class.to_s.underscore.humanize.downcase %> from being saved
  </h2>
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>