<%= form_with(model: [@topic,post],local: true) do |form| %>
  <div>
    <form class="form">

      <div class="invalid-feedback d-block">
        <% if post.errors.any? %>
          <% post.errors.full_messages.each do |message| %>
            <%= message %><br/>
          <% end %>
        <% end %>
      </div>


      <div class="form-group">
        <form.label for="name">Name</form.label>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Post Name" %>
      </div>

      <div class="form-group">
        <form.label for="content">Content</form.label>
        <%= form.text_area :content, class: "form-control", placeholder: "Enter Post Content" %>
      </div>

      <div class="form-group">
        <form.label for="image">Image</form.label><br/>
        <% if @post.image.attached? %>
          <p>You have already attached image:</p>
          <%= link_to 'Show', @post.image %> |
          <%= link_to 'Delete', delete_attached_image_topic_post_path(@topic,post), data: { confirm: "Are you sure to delete the image?" }, method: :delete %>
        <% end %><br>
        <%= form.file_field :image %>
      </div>

      <div class="form-group">
        <%= form.fields_for :tags, @post.tags.new do |i| %>
          <i.label for="tag">Tag</i.label>
          <%= i.text_field :tag,class: "form-control", placeholder: "Enter tag" %>
        <% end %>
      </div>
      <%= form.select :tag_ids, Tag.all.collect{|t| [t.tag,t.id]},{:include_blank => 'Anything'},:multiple => true %><br/>

      <button type="submit" class="btn btn-success">Update Post</button>

    </form>
  </div>
  <br/><%= link_to 'Back', topic_posts_path, class: 'btn btn-secondary' %>
<% end %>