<div id="loader">
</div>
<h1><b>New Post</b></h1>
<%= form_with(model: [@topic,post], local: false) do |form| %>
  <div>
    <form class="form">
      <div id="errordivision"></div>
      <div class="form-group">
        <form.label for="name">Name</form.label>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Post Name" %>
      </div>

      <div class="form-group">
        <form.label for="content">Content</form.label>
        <%= form.text_area :content, class: "form-control", placeholder: "Enter Post Content" %>
      </div>

      <div class="form-group">
        <form.label for="image">Image</form.label><br/>
        <%= form.file_field :image %>
      </div>

      <div class="form-group">
        <%= form.fields_for :tags, post.tags.new do |i| %>
          <i.label for="tag">Tag</i.label>
          <%= i.text_field :tag,class: "form-control", placeholder: "Enter tag" %>
        <% end %>
      </div>
      <%= form.select :tag_ids, Tag.all.collect{|t| [t.tag,t.id]},{:include_blank => 'Nothing'},:multiple => true %><br/>

      <button type="submit" class="btn btn-success">Add Post</button>

    </form>
  </div>
  <br/><%= link_to 'Back', topic_posts_path, class: 'btn btn-secondary' %>
<% end %>