<% if @post.errors.any? %>
  document.getElementById("errordivision").innerHTML = "";
  document.querySelector('#errordivision').insertAdjacentHTML('afterbegin', '<%= escape_javascript(render "error_messages", object: @post) %>');
<% else %>
  var spin = '<div class="text-center"><div class="spinner-border" role="status"><span class="sr-only"></span></div></div>'
  $("#loader").html(spin);
  <%= render 'alert' %>
  setTimeout(function(){
  $("#row").append("<tr align=center><td><%= j link_to @post.name+' ('+@post.topic.name+')',[@post.topic,@post] %></td><td><%= j @post.content %></td><td><% if @post.users.map(&:id).include? current_user.id %><%= j "Post Read" %><% else %><%= j "Post Unread" %><% end %></td><td><%= j @post.topic.name %></td><td><%= j @post.comments_count %></td><td><%= j @post.rating_average %></td><td><% if can? :update, @post %><%= j link_to 'Update',edit_topic_post_path(@post.topic,@post),class: 'btn btn-primary' %><% else %><%= j link_to 'Update', "", class: 'btn btn-primary' %><% end %></td><td><% if can? :destroy, @post %><%= j link_to "Delete", [@post.topic, @post], :data =>{:confirm=>"Are you sure?"}, :method=> :delete, class: 'btn btn-danger' %><% else %><%= j link_to "Delete", "", class: 'btn btn-danger' %><% end %></td></tr>");
  $("#new-post").hide();
  },2000);
<% end %>