<% if params[:topic_id].nil? %>
  <br/>
  <div class="container">
    <div class="row justify-content-center">
      <form class="form-inline" action="posts" >
        <div class="form-group">
          <small><b>From date</b></small><p>&nbsp;</p>
          <input id="from_date" type="text" name="from_date" autocomplete="off" style="text-align:center;">
          <p>&emsp;</p>
        </div>
        <div class="form-group">
          <small><b>To date</b></small><p>&nbsp;</p>
          <input id="to_date" type="text" name="to_date" autocomplete="off" style="text-align:center;">
          <p>&emsp;</p>
        </div>
        <input type="submit" value="Show Details" class="btn btn-success">
      </form>
    </div>
  </div>
<% end %>

<script>
  $('#from_date').datepicker({
      format: 'yyyy-mm-dd'
  });
  $('#to_date').datepicker({
      format: 'yyyy-mm-dd'
  });
  var query_params_date = new URLSearchParams(window.location.search);
  if(query_params_date.get('from_date')==null)
  {
      var date = new Date();
      document.getElementById("from_date").value = date.getFullYear()+'-'+(("0"+(date.getMonth()+1)).slice(-2))+'-'+(("0"+(date.getDate()-1)).slice(-2));
      document.getElementById("to_date").value = date.getFullYear()+ '-' + ("0"+(date.getMonth()+1)).slice(-2) + '-' + ("0"+date.getDate()).slice(-2);
  }
  else
  {
      document.getElementById("from_date").value = query_params_date.get('from_date')
      document.getElementById("to_date").value = query_params_date.get('to_date')
  }
</script>

<h1>Posts</h1>
<% if @post.count>0 %>
  <table class="table table-bordered" id="row">
    <thead>
  <tr align="center">
    <th><%= 'Name of the post' %></th>
    <th><%= 'Content' %></th>
    <th><%= 'Status' %></th>
    <th><%= 'Topic name' %></th>
    <th><%= 'Comments' %></th>
    <th><%= 'Ratings Avg' %></th>
    <th><%= 'Update post' %> </th>
    <th><%= 'Delete post' %></th>
  </tr>
  </thead><tbody>
<% @post.includes(:users,:posts_users).each do |post| %>
    <tr align="center">
      <td><%= link_to post.name+' ('+post.topic.name+')',[post.topic,post] %></td>
      <td><%= post.content %></td>
      <td><% if post.users.map(&:id).include? current_user.id %><%= "Post Read" %><% else %><%= "Post Unread" %><% end %></td>
      <td><%= post.topic.name %></td>
      <td><%= post.comments_count %></td>
      <td><%= post.rating_average %></td>
      <td>
        <% if can? :update, post %>
          <%= link_to 'Update',edit_topic_post_path(post.topic,post),class: 'btn btn-primary' %>
        <% else %>
          <button type="button" class="btn btn-primary" disabled>Update</button>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, post %>
          <%= link_to "Delete", [post.topic, post], :data =>{:confirm=>"Are you sure?"}, :method=> :delete, class: 'btn btn-danger' %>
        <% else %>
          <button type="button" class="btn btn-danger" disabled>Delete</button>
        <% end %>
      </td>
    </tr>
    <% end %>
</tbody>
  </table>
<% end %>
<% if params[:topic_id].nil? %>
  <%= render partial: "shared/paginator", locals: { pagy: @pagy }%>
<% else %>
  <%= link_to 'Add post',new_topic_post_path, remote: true, class: 'btn btn-success' %>
  <%= link_to 'Back', topics_path, class: 'btn btn-secondary' %>
  <div id="new-post"></div>
<% end %>