<h1>Post</h1>
<p>
  <b>Name: </b><%= @post.name %><br/>
  <b>Content: </b><%= @post.content %><br>
  <b>Author Name:</b>
  <% if @post.user.present? %>
    <%= @post.user.email %>
  <% end %>
</p>
<% if @post.image.attached? %>
  <%= image_tag @post.image, style: "width: 300px; display: block" %>
<% end %>
<br/><br/>
<h1>Tags</h1>
  <% @post.tags.each do |tag| %>
    <ul>
      <li><%= tag.tag %></li>
    </ul>
  <% end %>
<br/>
<%= render template: 'ratings/index' %>

<%= render template: 'ratings/new' %>
<br/>



<% if @post.comments.count > 0 %>
<h1>Comments</h1>
<table class="table table-bordered">
  <thead>
    <tr align="center">
      <th>Comment</th>
      <th>Author</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.includes(:user).each do |comment| %>
    <% if comment.id.present? %>
    <tr align="center">
      <td><%= comment.comment %></td>
      <td><% if comment.user.present? %><%= comment.user.email %><% end %></td>
      <td>
        <% if can? :update, comment %>
          <%= link_to 'Update',edit_topic_post_comment_path(@topic,@post,comment),class: 'btn btn-primary' %>
        <% else %>
          <button type="button" class="btn btn-primary" disabled>Update</button>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, comment %>
          <%= link_to 'Delete',[@topic,@post,comment], method: :delete, :data => { confirm: "Are you sure" }, class: 'btn btn-danger' %>
        <% else %>
          <button type="button" class="btn btn-danger" disabled>Delete</button>
        <% end %>
      </td>
      <td>
        <%= form_for UserCommentRating.new, url: user_comment_rating_topic_post_comment_path(@topic,@post,comment) do |rating| %>
            <%= rating.radio_button :rating, '5 stars' %> 5
            <%= rating.radio_button :rating, '4 stars' %> 4
            <%= rating.radio_button :rating, '3 stars' %> 3
            <%= rating.radio_button :rating, '2 stars' %> 2
            <%= rating.radio_button :rating, '1 star' %> 1
            <%= rating.submit "Add rating", class: 'btn btn-success' %>
        <% end %>
      </td>
      <td><%= link_to "Ratings", topic_post_comment_path(@topic,@post,comment), class: 'btn btn-primary' %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
<%= form_with(model: [@topic,@post,@comment]) do |comment| %>
  <% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <%= comment.text_field :comment, class: 'form-control' %>
  </div>

  <%= comment.submit 'Add comment', class: 'btn btn-success' %>
<% end %>
<br/><br/>


<%= link_to 'Back to post', topic_posts_path, class: 'btn btn-secondary' %> <br/>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "/topics/"+"<%= @topic.id %>"+"/posts/"+"<%= @post.id %>"+"/updatestatus",
            type: 'POST'
        });
    });
</script>